body,html{    
    min-height: 100%;
    background-image: url('./images//bright-close-up-colors-1073069.jpg');
    background-size: 100%;
    h1{
        border:1px solid black;
        border-radius: 5px;
        color:slateblue;
    }
}